<template>
    <div class="event my-3 p-3">
        <h3>{{event.title}}</h3>
        <p class="mt-3">{{event.description}}</p>
        <b class="mt-3">Sessions</b>
        <ul>
            <li :key="index" v-for="(session, index) in event.sessions">{{session.title}} in {{session.room}} by
                {{session.speaker}}
            </li>
        </ul>
        <p class="mt-3">On {{event.date}} from {{event.time}} for {{event.duration_days}} day(s)</p>
        <p>Meet at {{event.location}}</p>
        <p>Pay {{event.standard_price}}.-</p>
        <button class="btn btn-primary" @click="setSelectedEvent">Go to registration
        </button>
    </div>
</template>

<script>
    export default {
        name: "Event",
        props: ['event'],
        methods: {
            setSelectedEvent() {
                this.$store.commit('setSelectedEvent', this.event);
                this.$router.push({name: 'registration', params: {id: this.event.id} });
            }
        }
    }
</script>

<style scoped>
    .event {
        background: #f1f1f1;
    }
</style>