<template>
    <div class="my-event">
        <div class="row">
            <div class="col-4">
                <b>Event</b>
            </div>
            <div class="col-8">
                {{event.title}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Date</b>
            </div>
            <div class="col-8">
                {{event.date}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Price</b>
            </div>
            <div class="col-8">
                {{registration.calculated_price}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <b>Actions</b>
            </div>
            <div class="col-8">
                <button class="btn btn-outline-primary" @click="downloadIcal">Download Ical</button>
                <select name="rating" class="form-control mt-2" @change="rateEvent">
                    <option value="none" disabled :selected="!registration.event_rating">- rate overall experience -</option>
                    <option value="0" :selected="registration.event_rating === 0">Bad</option>
                    <option value="1" :selected="registration.event_rating === 1">Good</option>
                    <option value="2" :selected="registration.event_rating === 2">Excellent</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "MyEvent",
        props: ['registration'],
        computed: {
            event() {
                return this.$store.state.events.find(event => event.id === this.registration.event_id)
            }
        },
        methods: {
            downloadIcal() {
                let todayDate = new Date();
                let eventDateTime = new Date(this.event.date + " " + this.event.time);

                let icalMsg = "BEGIN:VCALENDAR\r\n" +
                    "VERSION:2.0\r\n" +
                    "PRODID:https://www.google.com/\r\n" +
                    "BEGIN:VEVENT\r\n" +
                    "UID:https://www.google.com/\r\n" +
                    "DTSTAMP:" + this.formatDateTime(todayDate) + "Z\r\n" +
                    "DTSTART:" + this.formatDateTime(eventDateTime) + "\r\n" +
                    "SUMMARY:" + this.event.title + "\r\n" +
                    "END:VEVENT\r\n" +
                    "END:VCALENDAR";

                window.location.assign("data:text/calendar;charset=utf8," + icalMsg);
            },
            formatDateTime(date) {
                const year = date.getUTCFullYear();
                const month = this.pad(date.getUTCMonth() + 1);
                const day = this.pad(date.getUTCDate());
                const hour = this.pad(date.getUTCHours());
                const minute = this.pad(date.getUTCMinutes());
                const second = this.pad(date.getUTCSeconds());
                return `${year}${month}${day}T${hour}${minute}${second}Z`;
            },
            pad(i) {
                return i < 10 ? `0${i}` : `${i}`;
            },
            async rateEvent(event) {
                await axios.put(`http://localhost:8000/api/v1/registrations/${this.registration.id}?token=${this.$store.state.loginToken}`, {
                    event_rating: event.target.value
                });
            }
        }
    }
</script>

<style scoped>
    .my-event {
        background: #f1f1f1;
        padding: 15px;
        margin: 10px 0;
    }
</style>