<template>
    <div>
        <b>Total count: {{ratingCount}}</b>
        <canvas id="chart"></canvas>
    </div>
</template>

<script>
    import Chart from 'chart.js';
    export default {
        name: "rating-chart",
        data() {
            return {
                ratings: []
            }
        },
        computed: {
            ratingCount() {
                return this.ratings.length;
            }
        },
        mounted() {
            let element = document.getElementById('ratingChart');
            this.ratings = JSON.parse(element.getAttribute('data-chart-data'));

            let ctx = document.getElementById('chart').getContext('2d');

            let data = {
                datasets: [{
                    data: [this.ratings.filter(rating => rating.event_rating === 0).length, this.ratings.filter(rating => rating.event_rating === 1).length, this.ratings.filter(rating => rating.event_rating === 2).length]
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    '0',
                    '1',
                    '2'
                ]
            };


            let myPieChart = new Chart(ctx, {
                type: 'pie',
                data: data,
            });
        }
    }
</script>

<style scoped>

</style>
