<template>
    <div class="session-component">
        <button class="btn btn-primary" id="add-session" type="button" @click="addSession">Add session</button>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Time</th>
                <th>Location</th>
                <th>Speaker</th>
            </tr>
            </thead>
            <tbody>
            <tr class="session" v-for="(session, index) in sessions" :key="index">
                <td><input class="form-control" type="hidden" :name="`sessions[${index}][id]`" :value="session['id']">
                    <input class="form-control" type="text" :name="`sessions[${index}][title]`"
                           v-model="session['title']"></td>
                <td><input class="form-control" type="text" :name="`sessions[${index}][time]`"
                           v-model="session['time']"></td>
                <td><input class="form-control" type="text" :name="`sessions[${index}][room]`"
                           v-model="session['room']"></td>
                <td><input class="form-control" type="text" :name="`sessions[${index}][speaker]`"
                           v-model="session['speaker']"></td>
                <td>
                    <button class="btn btn-danger" type="button" @click="deleteSession(index)">DeleteSession</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                sessions: []
            };
        },
        mounted() {
            let sessions = document.getElementById('edit-sessions').getAttribute('data-sessions');
            this.sessions = JSON.parse(sessions);
        },
        methods: {
            addSession() {
                this.sessions.push({
                    id: null,
                    title: "",
                    time: "",
                    room: "",
                    speaker: ""
                });
            },
            deleteSession(index) {
                this.sessions.splice(index, 1);
            }
        }
    }
</script>
