<template>
    <div id="app">
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Event Booking Platform</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <template v-if="isLoggedIn">
                            <li class="nav-item active">
                                <router-link to="/">Events</router-link>
                            </li>
                            <li class="nav-item active">
                                <router-link to="/my-events">My Events</router-link>
                            </li>
                            <li class="nav-item">
                                <div @click="logout">Logout</div>
                            </li>
                        </template>
                        <template v-else>
                            <li class="nav-item active">
                                <router-link to="/login">Login</router-link>
                            </li>
                            <li class="nav-item active">
                                <router-link to="/create-profile">Register</router-link>
                            </li>
                        </template>

                    </ul>
                </div>
            </nav>
        </div>
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: "App",
        computed: {
            isLoggedIn() {
                return this.$store.state.loginToken;
            }
        },
        created() {
            if(this.isLoggedIn) {
                this.$store.dispatch('fetchEvents');
            }
        },
        methods: {
            login() {
                this.$store.commit('setLoginToken', 'abc');

                this.$router.push('/');
            },
            logout() {
                this.$store.commit('setLoginToken', null);
                this.$router.push('/login');
            }
        }
    }
</script>

<style lang="scss">
    .nav {
        display: flex;
    }
</style>
