<template>
    <div class="create-profile">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="mt-3">Create profile at Kazan Expo</h4>
                    <form @submit.prevent="create">
                        <div class="form-group my-2">
                            <label for="firstname">
                                Firstname *
                            </label>
                            <input type="text" name="firstname" id="firstname" class="form-control" v-model="firstname">
                        </div>
                        <div class="form-group my-2">
                            <label for="lastname">
                                Lastname *
                            </label>
                            <input type="text" name="lastname" id="lastname" class="form-control" v-model="lastname">
                        </div>
                        <div class="form-group my-2">
                            <label for="email">
                                Email *
                            </label>
                            <input type="text" name="email" id="email" class="form-control" v-model="email">
                        </div>
                        <div class="form-group my-2">
                            <label for="linkedin_url">
                                LinkedIn Url
                            </label>
                            <input type="text" name="linkedin_url" id="linkedin_url" v-model="linkedin_url"
                                   class="form-control">
                        </div>
                        <div class="form-group my-2">
                            <label for="photo">
                                Photo *
                            </label>
                            <input type="file" name="photo" id="photo" v-on:change="changePhoto"
                                   class="form-control-file">
                        </div>
                        <h4 class="my-4">Login Data</h4>
                        <div class="form-group">
                            <label for="username">Username *</label>
                            <input type="text" id="username" name="username" class="form-control" v-model="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password *</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   v-model="password">
                        </div>
                        <p class="text-danger"> {{errorMessage}}
                        </p>
                        <button class="btn btn-primary mr-3">Create profile</button>
                        <router-link to="/login">Back to login</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "CreateProfile",
        data() {
            return {
                firstname: null,
                lastname: null,
                email: null,
                linkedin_url: null,
                photo: null,
                username: null,
                password: null,
                errorMessage: null,
            }
        },
        methods: {
            changePhoto(event) {
                this.photo = event.target.files[0];
            },
            async create() {
                if (this.email === null || !this.email.includes('@')) {
                    this.errorMessage = 'Enter valid email';
                } else {
                    this.errorMessage = '';
                    let formData = new FormData();
                    formData.append("photo", this.photo);
                    formData.append('firstname', this.firstname);
                    formData.append('lastname', this.lastname);
                    formData.append('email', this.email);
                    formData.append('linkedin_url', this.linkedin_url);
                    formData.append('username', this.username);
                    formData.append('password', this.password);
                    try {
                        const response = await axios.post('http://localhost:8000/api/v1/profile', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        });
                        if (response.data && response.data.token) {
                            this.$store.commit('setLoginToken', response.data.token);
                            this.$store.commit('setRegisterSuccessMessage', 'Registration successful');
                            this.$store.dispatch('fetchEvents');
                            this.$router.push('/');
                        } else {
                            this.errorMessage = 'Registration failed';
                        }

                    } catch (e) {
                        this.errorMessage = 'Registration failed';
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>