<template>
    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Events at Kazan Expo</h2>
                    <p class="text-success">{{registerSuccessMessage}}</p>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="filter">Filter by date</label>
                        <input type="date" class="form-control" id="filter" v-model="filterDate">
                    </div>
                </div>
                <div class="col-12">
                    <event v-for="(event, index) in filteredEvents" :event="event" :key="index"></event>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Event from "../components/Event";
    import axios from 'axios';
    export default {
        name: "Events",
        components: {Event},
        data() {
            return {
                filterDate: null,
            }
        },
        computed: {
            events() {
                return this.$store.state.events;
            },
            registerSuccessMessage() {
              return this.$store.state.registerSuccessMessage;
            },
            filteredEvents() {
                return this.events.filter(event => {
                    const eventDate = new Date(event.date);
                    const filterDate = new Date(this.filterDate);
                    return (eventDate.getTime() - filterDate.getTime()) > 0;
                });
            }
        }
    }
</script>

<style scoped>

</style>