<template>
    <div class="login">
        <div class="container">
            <div class="row">
                <h1 class="mt-5 mx-3">Login</h1>
                <div class="col-12">
                    <form @submit.prevent="login">
                        <div class="form-group">
                            <label for="username">Username *</label>
                            <input type="text" id="username" name="username" class="form-control" v-model="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password *</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   v-model="password">
                        </div>
                        <button class="btn btn-primary">Login</button>
                    </form>
                    <p class="text-danger mt-2">{{errorMessage}}</p>
                    <router-link to="/create-profile">Register</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "Login",
        data() {
            return {
                username: null,
                password: null,
                errorMessage: '',
            }
        },
        methods: {
            login() {
                this.errorMessage = '';
                axios.post("http://localhost:8000/api/v1/login", {
                    username: this.username,
                    password: this.password
                }).then(response => {
                    if (response.data && response.data.token) {
                        this.$store.commit('setLoginToken', response.data.token);
                        this.$store.dispatch('fetchEvents');
                        this.$router.push('/');
                    }
                }).catch(error => {
                    this.errorMessage = 'User or password not correct';
                });
            }
        }
    }
</script>

<style scoped>

</style>