<template>
    <div class="my-events mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>My events</h3>
                    <my-event v-for="(registration, index) in registrations" :registration="registration" :key="index"></my-event>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import axios from 'axios';
    import MyEvent from "../components/MyEvent";

    export default {
        name: "MyEvents",
        components: {MyEvent},
        computed: {
          registrations() {
              return this.$store.state.registrations;
          }
        },
        created() {
            axios.get("http://localhost:8000/api/v1/registrations?token=" + this.$store.state.loginToken).then(response => {
                this.$store.commit('setRegistrations', response.data);
            });
        },
    }
</script>

<style scoped>

</style>