<template>
    <div class="registration">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Register for "{{event && event.title}}"</h3>

                    <form @submit.prevent="register">
                        <div class="form-group">
                            <label for="registration-type">Registration Type</label>
                            <select class="form-control" name="registration-type" id="registration-type"
                                    v-model="registration_type">
                                <option value="early_bird">Early Bird (15% off of regular price)</option>
                                <option value="general">Standard</option>
                                <option value="vip">VIP (pay and get 20% more)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="you_pay">You Pay</label>
                            <input type="number" class="form-control" disabled v-model="actual_price" id="you_pay">
                        </div>
                        <button class="btn btn-primary mr-3" :disabled="!!successMessage">Register for event</button>
                        <p class="text-success">{{successMessage}}</p>
                        <p class="text-danger">{{errorMessage}}</p>
                        <router-link to="/">Back to Events</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Registration",
        data() {
            return {
                registration_type: null,
                successMessage: null,
                errorMessage: null,
            }
        },
        computed: {
            event() {
                return this.$store.state.events.find(event => event.id == this.$route.params.id);
            },
            actual_price() {
                switch (this.registration_type) {
                    case 'early_bird':
                        return this.event.standard_price * 0.85;
                    case 'vip':
                        return this.event.standard_price * 1.2;
                    default:
                        return this.event.standard_price;
                }
            }
        },
        methods: {
            register() {
                this.successMessage = null;
                this.errorMessage = null;
                axios.post("http://localhost:8000/api/v1/registration?token=" + this.$store.state.loginToken, {
                    'registration_type': this.registration_type,
                    'event_id': this.event.id
                }).then(response => {
                    this.successMessage = response.data.message;
                }).catch(e => {
                    this.errorMessage = 'Registration failed';
                });
            }
        }
    }
</script>

<style scoped>

</style>